:root {
    --light-gray: #F8F9FA;
    --gray: #E5E5E5;
    --dark-grey: #5B5858;
    --blue: #1B72E8;
    --dark-blue: #051E34;
    --orange: #FF8F00;
    --white: #FFFFFF;
    --badge: #165BBA;

    --button: #6C757D;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.toolbar {
    background-color: var(--light-gray);
    padding-block: 10px;
}

aside {
    overflow: hidden;
    flex-basis: 70px;
    flex-shrink: 0;
    background-color: var(--dark-blue);
    background-image: url(../img/sidebar-bg.png);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    overflow: auto;
    flex-grow: 1;
}

/* TOOLBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding-inline: 12px;
}


.logo-container {
    width: 70px;
}

.logo-container img {
    max-width: 50px;
}

.input {
    position: relative;
    flex-grow: 1;
}

.input i {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: var(--dark-grey);

}

.search {
    width: 100%;
    display: inline-block;
    border: none;
    outline: none;
    background-color: var(--gray);
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 5px;
}

.utility-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    margin-bottom: 0;
    color: var(--dark-grey);
}

.utility-item.orange {
    color: var(--orange);
}

/* ASIDE */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--white);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    width: 100%;
}

.menu-item {
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    width: 100%;
    display: inline-block;
    height: 40px;
    color: currentColor;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 0 auto;
}

.setting {

    color: var(--white);
    margin-top: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.info {
    background-color: var(--blue);
    color: var(--white);
}

.my-badge {
    display: inline-block;
    background-color: var(--badge);
    color: var(--white);
    font-weight: 600;
    font-size: 13px;
    border-radius: 999px;
    line-height: 1.8;
    padding-inline: 12px;
    padding-bottom: 2px;
}

.my-badge i {
    font-size: 10px;
}

.class {
    display: flex;
    align-items: center;
    gap: 16px;
}

.class img {
    width: 30px;
    border-radius: 50%;
}

button.grey {
    color: var(--button);
    border-color: currentColor;
}

table {
    border-spacing: 20px;
}

.w-45 {
    width: 45%;
}

@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {

    aside {
        flex-basis: 150px;
    }

    .logo-container {
        width: 150px;
    }

    .logo-container img {
        max-width: 150px;
    }

    .menu {
        align-items: flex-start;
    }

    .setting {
        width: 100%;
    }
}

@media (min-width: 1200px) {}


@media (min-width: 1400px) {}